
<div class="login_container">
   
    <h1> <%= @user.first_name %> </h1> this is your dashboard!

  <p><a href="/entry/new"><input type="button" value="new post"></a></p>
   
    <p><a href="/logout"><input type="button" value="logout"></a></p>

<div>
	<div>
		<h3 class="text-center">Bulletin Board</h3>
	</div>
</div>

	<% if @entries.empty? %>
	<div>
		<div>
			<p>
				Looks like you haven't created any entries yet. Get started today by 
				<a href="/entry/new">creating your first one</a>
			</p>		
		</div>
	</div>
	<% else %>
        <div>
        <div>
            <h3>Your thoughts count!</h3>
            <p>Submit an entry.</p>
            <p>
            <a href="/entry/new">Submit a post</a>
            </p>
        </div>
        <div>
            <h3>Latest Posts</h3>
            <ul>
            <% @entries.each do |entry| %>
                <li>
                    <div>
                        Name: <%= entry.title %>
                        <br>
                        Description: <%= entry.message %>
                    </div>
                    <% if entry.user_id == session[:user_id] %>
                    <div>
                        <a href="/entry/edit/<%= entry.id %>">Edit</a>
                        <a href="/entry/delete/<%= entry.id %>">Delete</a>	
                    </div>
                    <% end %>
                </li>	
            <% end %>
            </ul>
			</div>
		</div>		
	<% end %>
	
</div>

