<div id="profile_bg">
</div>

<div class="dashboard_row">
<div class="dashboard_leftcolumn">
  <!-- The indentation of this block is a little off -->
   <% if @entries.empty? %>
            <p>
            Oh? You haven't posted anything yet. 
            </p>		
        <% else %>

           <% @entries.each do |entry| %>
            <div class="dashboard_card">
              <h3 class="title_color"><%= entry.title %></h3>
              <p class="entry_txt_size"><%= entry.message %></p>
                <h5>Posted by <%= entry.user.nickname %></h5>
               <p>
                <% if entry.user_id == session[:user_id] %>
                <span class="user_post_mods">
                <a href="/entry/edit/<%= entry.id %>">Edit</a> | <a href="/entry/delete/<%= entry.id %>">Delete</a>
                </span>
                <% end %>
              </p>
              </div>
            <% end %>
            <% end %>
    </div>
    
    <div class="dashboard_rightcolumn">
         
          <div class="dashboard_card">
          <h2>Everything: <%= @user.nickname %>!</h2>
           
            <a href="/entry/new"><div class="dashboard_fakeimg" style="height:100px;">NEW POST</div></a>
            
            <a href="/dashboard"><div class="dashboard_fakeimg" style="height:100px;">DASHBOARD</div></a>
            
            <a href="/logout"><div class="dashboard_fakeimg" style="height:100px;">LOGOUT</div></a>
            
             <a href="/profile/delete/<%= @user.id %>"><div class="dashboard_fakeimg" style="height:100px;">DELETE ACCOUNT</div></a>
             
        </div>
        
    </div>

</div>

